@import "tailwindcss";

.rbc-btn-group:nth-child(3) {
    display: none;
}

.reservation-form>div {
    display: inline-block;
}

/* 일요일 글자색 빨간색으로 지정 */
.calendar-table td:first-child .day-number {
    color: #ff4d4f; 
}
/* 토요일 파란색으로 지정 */
.calendar-table td:last-child .day-number {
    color: #1890ff; 
}