/* 공용 스타일 */
.rbc-btn-group:nth-child(3) {
    display: none;
}

.reservation-form>div {
    display: inline-block;
}

/* 토요일 파란색*/
.rbc-header:last-child {
    color : cornflowerblue;
    cursor: default;
}
.rbc-month-row .rbc-date-cell:last-child .rbc-button-link {
    color : cornflowerblue;
    cursor: default;
}

/* 일요일 빨간색 */
.rbc-header:first-child {
    color : crimson;
    cursor: default;
}
.rbc-month-row .rbc-date-cell:first-child .rbc-button-link {
    color : crimson;
    cursor: default;
}

/* 공휴일 빨간색 */
.day-holiday .rbc-button-link {
    color : crimson;
    cursor: default;
}

.day-available:hover {
    cursor: pointer;
}

.day-unavailable:hover {
    cursor: not-allowed;
}

.day-available .rbc-day-bg:hover {
    cursor: pointer;
}

.day-unavailable .day-available.rbc-day-bg:hover {
    cursor: not-allowed;
}